:root{
  --red-atak: #EE2F36;
  --wrapper: #3f3f3f;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  height: auto;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: darkgray;
  color: white;
  background: linear-gradient(145deg, rgb(145, 145, 145) 5%, rgba(175,175,175,1) 90%, rgba(190,190,190,1) 93%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace;
}

body a{
  text-decoration: none;
  color: white;
}
h3{
  font-family: 'Teko', sans-serif;
}
/*---------------HEADER---------------*/
nav a:hover{
  color: var(--red-atak);
}
.navbar{
  max-height: 60px;
  
  font-weight: bold;
}
header img{
  max-width: 200px;
}
header figure{
  padding: 0 15px 0 5px;
  margin-top: 15px;
  border-right: 2px solid lightgray;
}
.black-bg{
  background-color: black;
  width: 100%;
}
/* #kb-search-input:focus {
  box-shadow: 0 0 6px 2px rgba(255, 0, 0, 0.61);
} */
/*BTN ABRIR CHAMADO*/
nav #entrar, nav #atualizacoes {
  text-decoration: none;
  position: relative;
  transition: 0.2s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  padding: 0em 1.5em;
  margin-left: auto;
  margin-right: 1em;
  border-radius: 0.5em;
}

#entrar::before,
#entrar::after,
#atualizacoes::before,
#atualizacoes::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: 0.5s;
  -ms-transition: 0.5s;
}

#entrar::before,
#atualizacoes::before {
  border-left: 0.1625em solid var(--red-atak);
  transform-origin: 0% 0%;
}

#entrar::after,
#atualizacoes::after {
  border-right: 0.1625em solid var(--red-atak);
  transform-origin: 100% 100%;
}

#entrar:hover::after,
#entrar:hover::before,
#atualizacoes:hover::after,
#atualizacoes:hover::before  {
  transform: scale(1);
}
/*-------------------------*/
.search_form{
  max-width: 1060px;
  width: 100%;
}
#kb-search-input{
  border-radius: 20px;
}
.search-container{
  position: relative;
  height: 175px;
}
.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  border-radius: 40px;
  
  height: 50px;

  padding: 5px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.search-text{
  background: none;
  border: 0;
  outline: 0;

  width: 0;
  padding: 0;

  transition: 0.4s;
}
.search-btn{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  cursor: pointer;
  transition: 0.4s;
  background: transparent;
}
.loupe{
  font-size: 25px;
  color: var(--red-atak);
}
.search-box:hover > .search-text{
  width: 1060px;
  padding-left: 20px;
}
.search-box:hover > .search-btn{
  background-color: var(--red-atak);
}
.search-box:hover > .search-btn .loupe{
  color: white;
}
.search-text:focus{
  width: 1060px;
  padding: 20px;
}
/*-------------------------------------------*/
/*REFERENTE AO CONTEUDO PRESENTE E NÃO PADRÃO*/
.artigos img {
  max-height: 100px;
  margin-bottom: 20px;
}
.wrapper{
  background-color: var(--wrapper);
  border-radius: 20px;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-image: url("https://raw.githubusercontent.com/Atak-Movidesk/MovideskImages/main/images/liquid.webp");
  background-repeat: repeat-x;
  background-position: 0 -100%;
  transition: 2s ease;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.wrapper:hover{
  background-position: 100% center;
}
.wrapper:hover img, .wrapper:hover h3{
  transition: 2s ease;
  filter: brightness(0%);
}
.wrapper:hover img, .wrapper:hover h3{
  transition: 2s ease;
  filter: brightness(0%);
}
.wrapper img, .wrapper h3{
  transition: 2s ease;
  filter: brightness(100%);
}
.wrapper a {
  width: 100%;
  height: 100%;
}

/* .tiles{
  background-color: grey; 
  padding: 100px 0;
} */
.wrapper-sugeridos {
  max-width: 1060px; 
  margin: 50px auto; 
  display: flex;
  justify-content: space-between;
}
.lista{
  background-color: var(--wrapper);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 250px;
  font-size: 1.9ex;
}
.lista ul li{
  margin-bottom: 3px;
  border-bottom: 1px solid lightgray;  
}
.lista ul li a:hover{
  color: var(--red-atak);
  transition: 0.5s;
}

/*-------------------------------------------*/
.footer_social li{
  margin-top: 10px;
  margin-right: 40px;
}
.footer_social i{
  color: white;
}
footer a:hover,i:hover{
  transition: 0.5s;
  color: var(--red-atak);
}
.footer_social a img:nth-child(2) {
  display: none;
}

.footer_social a:hover img:nth-child(1) {
  display: none;
}

.footer_social a:hover img:nth-child(2) {
  display: inline-block;
}

/*-----------MOBILE RESPONSIVE-------------*/
@media screen and (max-width: 1000px) {


  .tiles article {
      width: 100%;
  }
  .search-box:hover > .search-text{
    width: 80vw;
    font-size: 18pt;
  }
  .search-text:focus{
    width: 80vw;
  }
  .navbar, footer{
    font-size: 16pt;
  }
  .search-box{
    height: 100px;
    border-radius: 50px;
  }
  .search-btn{
    height: 100px;
    width: 100px;
  }
  .loupe{
    font-size: 25pt;
  }
  .lista .d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.6ex;
  }
  .lista{
    margin: 10px 0;
    width: 75%;
  }
  .wrapper-sugeridos{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
  }
}
